# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Koray Güney\Sabancı Üniversitesi Yüksek Lisans\IT526 - Entr.Java Frmworks&Dsgn.Patterns\Week5Day1\ECommerce-Latest\gitcourse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
